/* fonts used */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Merriweather:wght@300;400;700&display=swap');
/* GENERAL STYLES */
/* red - #d63907 yellow - #ffae02 blue-#1c2d75 orange - #fb5f02 */
*{
  box-sizing: border-box;
}
html{
  font-size: 100%;
}
body{
  margin: 0;
  padding: 0;
  color: #2F1802;
}
.test{
  border: 1px solid red;
}
.test2{
  border: 2px dotted purple;
}
.container{
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}
.flex{
  display: flex;
  justify-content: space-between;
}
ul{
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
li{
  margin-left: 1.5rem;
  padding: .5rem 0;
}
a{
  border-radius: 5px;
  text-decoration: none;
  color: #2F1802;
  align-self: flex-end;
}
a:hover{
  color: #ffae02;
}
section, section.container{
  margin:10rem auto 2.5rem;
  padding: 0
}
/* typography */
body{
  font: 400 16px/24px 'Merriweather', serif;
}
h1{
  font: 700 3.75rem/1.8rem 'Lora', serif;
  text-transform: uppercase;
  margin: 0 ;
  padding: 1rem 0;
}
h2{
    font: 700 2.4rem/1.8rem 'Lora', serif;
    text-transform: uppercase;
    margin: 0 0 1rem
}
h3{
  font: 400 1.8rem/2rem 'Lora', serif;
  margin: 0;
}
h4{
  font: 600 1.2rem/1.3rem 'Lora', serif;
  margin: 0;
}
h5{
  font: 500 1rem/1.5rem 'Lora', serif;
  margin: 0;
}
/* ******HEADER STYLES****** */
header{
  margin-top: 3rem;
}
header nav{
  justify-content: flex-end;
}
header nav.menu{
  justify-content: space-between;
  text-transform: uppercase;
}
nav.menu ul li{
  font-size: .8rem;
}
nav.menu ul li a{
  color: #2F1802;
}
nav.menu ul li a{
  color: #2F1802;
}
nav.menu ul li a:hover{
  color: #2F1802;
  text-decoration:  underline;
  font-size: 1rem;
}
hr{
  border: 2px solid red;
}
nav .logo{
align-self: flex-end;
margin-top: -5.5rem;
}
nav .logo img{
  width: 150px;
}
nav.options{
  justify-content: flex-end;
  margin-top: 2rem;
}
/* drop down menu styling */
ul li ul.drop{
  display: none;
  width: 100%;
}
ul li ul.drop li a{
  color: #fff;
}
ul li:hover  ul.drop{
  display: block;
  background: #d63907;
  position: absolute;
}
ul li ul.drop li a:hover{
  width: 100%;
}
/* ******HERO STYLES****** */
section.hero{
  margin-top: 6rem;
  background: url("../img/library1.jpg") no-repeat center;
  background-size: 100%;
  height: 510px;
}
section.hero .container{
  align-items: center;
}
.hero .services , .hero .search{
  padding: 1rem;
  border: 8px solid #fff;
  border-radius: 5px;
}
.hero .services{
  width: 55%;
  background-color: #fb5f02;
  margin-top: -18rem;
  color: #fff;
}
.hero .services h3{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}
.hero .services h3 span{
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.2rem;
}
.hero .services p{
  text-transform: uppercase;
  display: inline-block;
  margin: 0 0 .3rem;
}
.hero .services p span{
  text-decoration: underline;
  font-weight: 700;
  margin-right: .9rem;
}
.location{
  cursor: -webkit-grab; cursor: grab;
}
.hero .services p span:hover{
 color: #a14e1e;
 cursor: grab;
}
.hero .services p.hrs{
  font-weight: 400;
  text-decoration: none;
  text-transform: none;
  
}
.hero .services .msg{
  border: 1px solid #fff;
  text-decoration: none;
  padding: .7rem;
  font-weight: 300;
  text-transform: none;
  font-size: .8rem;
  margin-top: 1rem;
  line-height: 1.2rem;
}
.hero .search{
  width: 40%;
  background-color: #1c2d75;
  color: #fff;
  align-self: flex-end;
  margin-top: 18rem;
}
.hero .search h4{
  font-size: 2rem;
}
.hero .search .form{
flex-direction: column;
}
form input{
  width: 100%;
  height: 50px;
  margin-bottom: 1rem;
  font-family: 'Merriweather';
  border-radius: 5px;
  border: none;
}
form p{
  margin: 1.5rem 0 0;
}
.form #option{
  font: 400 .8rem/1rem 'Lora', sans-serif;
}
.form #option{
  margin: 0 
}
.form a.btn{
  margin: 0;
  background: #ffae02;
  padding: .5rem 1.5rem;
  margin-bottom: 1rem;
  color: #fff;
 }
 .form a.btn:hover{
   background: #c08608;
   padding:  .45rem 1.45rem;
   color: #1c2d75;
  }
/* ****** LEARN STYLES****** */
.cards.container{
  flex-wrap: wrap;
}
.cards h2{
  width: 100%;
}
.cards .card1{
  width: 32%;
  height: 400px;
  margin-bottom: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cards .card2{
  width: 49%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card1:hover, .card2:hover{
  opacity: .5;
  cursor: grab;
}
.cards .explore{
  background: url("../img/catalog.jpg");
}
.cards .virtual{
  background: url("../img/virtual.jpg");
}
.cards .hw{
  background: url("../img/homework.jpg");
}
.cards .resource{
  background: url("../img/resources.jpg");
}
.cards .music{
  background: url("../img/music.jpg");
}
.card1 h3, .card2 h3{
  color: #fff;
  font-weight: 600;
}
/* ******NEWS STYLES****** */
.news .news-content{
  width: 66%;
}
.news-content .latest h3{
  color: #2F1802;
  font-weight:  500;
}
.story-img{
  width: 100%;
  background: url("../img/clock.jpg") no-repeat center;
  background-size: 100%;
  margin-right: 1rem;
}
.latest .story p{
  font-weight: 300;
  font-size: 1.15rem;
  line-height: 1.8rem;                      
  margin: 0
}
.news-content .slider-dots{
  margin-top: 1rem;
  text-align: center;
  color: #e6e6e6;
}
.news-content .slider-dots i:hover{
  color: #fb5f02;
  cursor: grab;
}
.slider-dots .first{
  color: #fb5f02;
}
.news .signin{
  width: 32%;
  text-align: center;
  background-color: #1c2d75;
}
.news .form{
  text-align: left;
  margin: 0 6%;
  flex-direction: column;
}
.news h3{
  color: #fff;
  margin: .5rem 0 1rem;
}
.news .form a.link{
  align-self: flex-start;
  font-size: .8rem;
  color: #fff;
  padding: 0;
  margin-top: -.6rem;
  text-decoration: underline;
}
.news .form a.link:hover{
  color: #ffae02;
}
/* ******ARRIVALS STYLES****** */
section.arrivals{
  flex-wrap: wrap;
}
.arrivals h2{
  width: 100%;
}
.arrivals .card{
  width: 16%;
  background: #ffae02;
  border-radius: 5px;
  box-shadow: 3px 5px 5px #c4c4c4;
  /* text-align: center; */
}
.arrivals .card h4{
  color: #fff;
  padding: 0 .5rem 1rem;
}
.arrivals .card h4 span{ 
  font-weight: 300;
  font-size: 1rem;
  line-height: 2rem;
}
.arrivals .card h4:hover{
  color: #1c2d75;
  cursor: grab;
}
.arrivals .card img{
  width: 100%;
  padding: .5rem;
  border-radius: 10px;
}
.arrivals a.link{
  background: transparent;
  text-align: end;
  text-decoration: underline;
  font-weight: 600;
  color: #2F1802;
  width: 100%;
  margin-top: 1rem;
}
.arrivals a.link:hover{
  color: #ffae02;
}
/* ******EVENT STYLES****** */
section.events h3{
  font-weight: 600;
  margin-bottom: 1rem;
}
.event-days .events-content h3{
  color: #d63907;
  margin: 0;
}
.event-days{
  flex-wrap: wrap;
}
.events-content{
  flex-direction: column;
  text-align: center;
  width: 25%;
}
.event-days .events-content h5{
  font-size: .8rem;
  font-weight: 600;
  line-height: 1rem;
}
.event-days .events-content h5 span{
  font-weight: 300;
}
.events-content a{
  align-self: center;
  color: #1C2D75;
  background: transparent;
  text-decoration: underline;
  cursor: grab;
}
.events-content a:hover{
  color: #ffae02;
}
.events #current-month{
  margin-bottom: 1.5rem;
}
.bottom{
  margin-top: 2rem;
}
.link-calendar{
  margin: 0 auto;
  width: 19%;
}
.link-calendar a{
  background: transparent;
  color: #2F1802;
}
.link-calendar a:hover{
  color: #ffae02;
}
/* ******FOOTER STYLES****** */
footer{
  margin-top: 10rem;
  padding: 2rem;
  color: #fff;
  background-color: #ffae02;
}
footer .footer-details{
  text-align: center;
  width: 25%;
}
footer .footer-details p{
  font-size: .8rem;
  font-weight: 600;
}
footer .footer-details p span{
  font-size: .8rem;
  font-weight: 500;
}
footer .links ul{
  flex-direction: column;
  margin-top: 1rem;
}
footer .links ul li{
  padding: .1rem 0;
  text-align: left;
}
footer .links ul li a{
  font-weight: 300;
  color: #fff;
  font-size: .8rem;
}
footer .links a:hover, .quick-links p:hover{
  color: #1C2D75;
}
footer .socials{
  align-self: center;
}
footer .socials a{
  align-self: center;
  margin: .8rem;
  color: #fff;
}
footer .socials a:hover{
  color: #1c2d75;
}
footer .quick-links p{
  line-height: 3rem;
}
footer img{
  width: 40%;
}
/* ---------------------FEES PAGE STYLE-------------------- */
/* ******HERO STYLES****** */
section.hero-fees{
  background: url("../img/hero-fees.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
}
/* page message */
.msg p{
  font-size: 1.375rem;
  line-height: 1.85rem;
}
/* ******FINES STYLES****** */
section.fines{
  background-color: #1c2d75;
  padding: 3rem;
}
section.fines hr{
  border: 3px solid #ffae02;
}
.wrapper{
  background-color: #fff;
  padding: 1rem;
}
.list{
  background-color: #fff;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
}
.fines .list hr{
  width: 100%;
  border: 2px solid #ffae02;
}
.list h5{
  font-weight: 600;
  font-size: 1.125rem;
  width: 50%
}
.fine-item{
  width: 100%;
  border-bottom: 1px solid #ffae02;
}
.list .fine-item p{
  width: 50%;
  margin: .2rem 0;
}
.fine-item:last-of-type{
  border: none;
}
/* ******FEES STYLES****** */
section.fees{
  background-color: #ffae02;
  padding: 3rem;
}
section.fees hr{
  border: 3px solid #d63907;
}
.fees .list hr{
  width: 100%;
  border: 2px solid #d63907;
}
.fee-item{
  width: 100%;
  border-bottom: 1px solid #d63907;
}
.list .fee-item p{
  width: 50%;
  margin: .2rem 0;
}
.fee-item{
  width: 100%;
  border-bottom: 1px solid #d63907;
}
.fee-item:last-of-type{
  border: none;
}
/* ******PAY STYLES****** */
section.pay{
  color: #fff;
}
section.pay h2{
  color: #2F1802;
}
.pay .options ul{
  display: block;
  list-style: disc;
}
.pay .options ul li{
  font: 400 1rem/1.5rem 'Lora', sans-serif;
}
.pay .options h5{
  font-size: 1.25rem;
  font-weight: 600;
  border-bottom: 1px solid #fff;
  line-height: 2.3rem;
}
section.pay .check{
  width: 32%;
  padding: 1rem;
  background-color: #d63907;
  
}
section.pay .card{
  width: 32%;
  padding: 1rem;
  background-color: #1c2d75;
}
section.pay .cash{
  width: 32%;
  padding: 1rem;
  background-color: #fb5f02;
}
/* ******FAQ STYLES****** */
section.faq .faq-header h2{
  line-height: 2.8rem;
}
.faq-header{
  text-align: center;
  width: 29%;
}
.faq .questions{
  width: 70%;  
}
.faq .questions h3{
  font-weight: 600;
  line-height: 3rem;
  border-bottom: 4px solid #ffae02;
}
.faq .questions ul{
  padding-top: 1rem;
  display: block;
}
.faq .questions ul li{
  margin: 0;
}
.faq .questions ul li a{
  text-decoration: underline;
  text-transform: uppercase;
  font: 700 1rem/1.6rem 'Lora', sans-serif;
}
.faq .questions p{
  text-align: center;
  line-height: 2rem;
  font-weight: 600;
}
.faq .questions p a{
  background-color: #fb5f02;
  padding: .4rem 1.4rem;
  color: #fff;
  box-shadow: 3px 5px 5px #c4c4c4;
}
.faq .questions p a:hover{
  background-color: #b94704;
  padding: .3rem 1.3rem;
  color: #fff;
  box-shadow: 3px 5px 5px #818181;
}
/* --------------------CARDS PAGE STYLE-------------------- */
section.hero-cards{
  background: url("../img/hero_cards.jpg") no-repeat center; 
  background-size: cover;
 color: #fff;
}
.cards-content{
  flex-wrap: wrap;
}
.cards-content p{
  width: 100%;
  margin-bottom: 4rem;
}
.cards-content aside{
  background-color: #fb5f02;
  width: 34%;
  padding: 1rem;
  color: #fff;
  align-self: flex-start;
}
.cards-content aside p a{
  text-transform: uppercase;
  text-decoration: underline;  
  color: #fff;
}
.cards-content aside p a:hover{
  color: #a14e1e;
}
.cards-content aside p{
  text-transform: none;
  text-decoration: none;
  line-height: 1.3rem;
  margin-bottom: 2rem;
}
.cards-content .card-details{
  width: 64%;
}
.card-details h2{
  font-size: 2.1rem;
  line-height: 2.3rem;
}
.card-details h2.yellow{
  border-bottom: 5px solid #ffae02;
}
.card-details h2.red{
  border-bottom: 5px solid #d63907;
}
.card-details h2.blue{
  border-bottom: 5px solid #1c2d75;
}
.card-details h2.orange{
  border-bottom: 5px solid #fb5f02;
}
.card-details ul{
  display: block;
  list-style: disc;
}
.faq .faq-header{
  background: url("../img/faq.jpg") no-repeat center;  
  background-size: cover;
}
/* -------------------ABOUT PAGE STYLE-------------------- */
section.hero-about{
  background: url("../img/hero_about.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
}
.about{
  flex-wrap: wrap;
}
.about .options{
  margin-top: 4rem;
  width: 24%;
}
.about .options ul{
  display: block;
  background-color: #1C2D75;
  margin-right: 1rem;
}
.about .options ul li a{
  color: #fff;
}
.about .options ul li a:hover{
  color: #1C2D75;
  background-color: #ffae02;
  padding: .2rem 1rem;
}
.about .options a.selected{
  color: #1C2D75;
  background-color: #ffae02;
  padding: .2rem 1rem;
}
.about .history{
  width: 75%;
  margin-top: 4rem;
}
.about .history h2{
  border-bottom: 1px solid #1C2D75;
  line-height: 3rem;
}
.about .history p{
  line-height: 1.8rem;
  margin-bottom: 2rem;
}
.about .history img{
  width: 40%;
}
.about .history .right{
  float: right;
  padding-left: 1rem;
}
.about .history .left{
  float: left;
  padding-right: 1rem;
}
